




// обращение к элементу, имеющему 2 этих класса
// классы к элементу присваиваем через пробел: className={formControl + " " + error}
.formControl.error  {
    input, textarea { //для input и textarea, лежащих в .formControl + .error
        border: solid red 2px;
    }
    span {
        color: red;
    }
}


.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    color: red;
}